    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"  layout:decorator="layout" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head>
        <title>Title111</title>
    </head>
    <body>

    <div layout:fragment="content">
        <div class="content-wrapper" style="min-height: 921px;">
            <!-- Main content -->
            <section class="content">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#userlist" data-toggle="tab" aria-expanded="true">用户列表</a>
                        </li>
                        <li class=""><a href="/users/add" data-toggle="tab" aria-expanded="false">用户添加</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="userlist">
                            <table id="jqGrid"></table>
                            <div id="jqGridPager"></div>
                        </div>
                        <!-- /.tab-pane -->

                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </section>
            <!-- /.content -->
        </div>

        <script th:src="${urls.getForLookupPath('/js/pages/user/user_list.js')}"></script>
    </div>

    </body>
    </html>


