/*
 * Page: Login & Register
 * ----------------------
 */
html,body{
   height: 100%;
}

.login-logo,
.register-logo {
    font-size: 35px;
    text-align: center;
    font-weight: 300;
}
.login-logo a,
.register-logo a {
    color: #444;
}
.login-page,
.register-page {
    background: #d2d6de;
}
.login-box,
.register-box {
    width: 360px;
    position: absolute;
    left: 50%;
    margin-left: -180px;
    top: 50%;
    margin-top: -160px;
}

.login-box-body,
.register-box-body {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
    height: 260px;
}
.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
    color: #777;
}
.login-box-msg,
.register-box-msg {
    margin: 0;
    text-align: center;
    padding: 10px 20px 20px 20px;
    font-size: 16px;
}